@model Mysitemvc.Models.product_model

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/site.js"></script>

<link rel="stylesheet" href="~/css/site.css">

<div class="product-details-container">
    
            <h4>product_model</h4>
            <hr />
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Id</th>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>@Html.DisplayFor(model => model.Price)</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                </tbody>
            </table>

            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
 |
    <a asp-action="Index" class="back-to-list-button">Go back</a>


    <form method="post" action="@Url.Action("AddToCart", "Cart")">
    <label for="quantityInput">Quantity:</label>
    <input type = "number" name="Quantity" id="quantityInput" min="1" value="1">
    <input type = "hidden" name="ProductId" value="@Model.Id">
    <input type = "submit" value="Add to Cart" class="btn btn-success">
    </form>
   
</div>


